<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 about">
        <h1 class="text-center text-white"> ABOUT US</h1>
        <div class="p-5 mt-4 about-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptate eum quidem corrupti neque, eaque odio eligendi repellat atque. Dicta quas velit, laudantium magni commodi minus nihil officiis! Neque, necessitatibus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptate eum quidem corrupti neque, eaque odio eligendi repellat atque. Dicta quas velit, laudantium magni commodi minus nihil officiis! Neque, necessitatibus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptate eum quidem corrupti neque, eaque odio eligendi repellat atque. Dicta quas velit, laudantium magni commodi minus nihil officiis! Neque, necessitatibus!</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4">BACK TO HOME </button>
            </div>
        </div>
    </div>
</section>