<div class="bg-theam">
    <div class="p-5 container">
        <h2 class="heading">general Knoledge</h2>
        <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col md 4 mb-3">
            <app-past-card></app-past-card>
        </div>
        <div class="col md 4 mb-3">
            <app-past-card></app-past-card>
        </div>
        <div class="col md 4 mb-3">
            <app-past-card></app-past-card>
        </div>
        <div class="col md 4 mb-3">
            <app-past-card></app-past-card>
        </div>
        <div class="col md 4 mb-3">
            <app-past-card></app-past-card>
        </div>
        <div class="col md 4 mb-3 ">
            <app-past-card></app-past-card>
        </div>
    </div>
</div>
