<div class="container">
    <div class="row">
        <div class="col-md-12 bg-theme-secondary p-2 shadow-effect">
            <h3 class="text-center text-theme-primary"> All Blog Posts</h3>
            <p class="text-center mb-5 text-theme-primary">From here you can manage your blog post</p>
            <div class="text-center">
                
                 <div class="">
                    <button class="btn btn-block btn-info mb-2 bg-theme-primary text-theme-secondary" routerLink="/newpost" >Add New Post</button>
                    <button class="btn btn-block btn-info mb-2 bg-theme-primary text-theme-secondary ml-5" routerLink="/">Back To Dashboard</button>
                 </div>
                 </div>   
        </div>
    </div>
</div>