<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">BLOG-APP</div>
                <div>
                    <ul class="nav justify-content-center">
                            <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
                            <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
                            <li class="nav-item"><a routerLink="/terms_and_condition" class="nav-link">Terms & Conditions</a></li>
                            <li class="nav-item"><a routerLink="/contactUs" class="nav-link">Contact  Us</a></li>
                    </ul>
                </div>
                <p class="md-2 mt-2">Copyright 2024 Angular Blog-App</p>
            </div>
        </div>
    </div>
</footer>