<div class="container">
    <div class="row">
        <div class="col-md-9">
                <div class="card">
                    <img src="https://i.pinimg.com/564x/ba/54/ac/ba54ac73d4c6a58f6ecd45bf8700433c.jpg" alt="" class="card-img-top img-fluid">
                    <div class="card-body">
                        <small class="bg-light text-danger text-center"> Design </small>
                        <small class="bg-light text-success text-center ml-2"> Featured </small>
                        <small class="bg-light text-info text-center ml-2"> views - 100,256 </small>
                        
                        <h1 class="mt-3 md-3 text-uppercase"> how to start a blog in 2020 edited new category</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laudantium, nemo aut praesentium at eum esse incidunt dolorem atque nulla asperiores enim. Saepe harum accusantium officiis vitae laudantium consequatur facilis!
                        Corrupti reiciendis nam, inventore iure excepturi ut vero perferendis enim reprehenderit cumque voluptas repudiandae minima placeat at dignissimos tempora nostrum totam cum consequatur impedit. Nemo natus a dolorem facilis blanditiis.
                        Voluptate, corrupti asperiores. Voluptas delectus eum ratione blanditiis suscipit labore error eaque magni pariatur nam, unde temporibus eos, placeat impedit debitis quam? Blanditiis harum iusto neque necessitatibus iure id quidem?
                        Exercitationem atque beatae autem amet iste animi dolorum deserunt facilis itaque, modi laboriosam nemo nihil deleniti voluptates labore possimus, vero dolore dicta delectus! Repellendus voluptate nobis non officiis enim totam!
                        Tenetur minus, repudiandae, distinctio possimus animi, totam iste expedita odio nobis consequatur sed id ducimus. Laudantium dolor iusto veniam assumenda ea dignissimos quidem consequuntur nostrum! Sit dicta provident earum quasi.
                        Odit enim aspernatur vel minima dolore, voluptas suscipit dignissimos itaque illo. Quos adipisci illum reiciendis ratione, distinctio excepturi beatae inventore cum, eveniet incidunt delectus quae possimus mollitia veritatis iusto ipsum?
                        Ut soluta reprehenderit libero nulla aperiam hic magnam fugiat expedita deserunt? Eaque eveniet consequatur tempora, perferendis laudantium nemo officiis odit porro reiciendis, voluptates voluptas quos natus! Sapiente ipsum ab voluptatibus?
                        Voluptates consequatur officia tempora ab distinctio rem laboriosam temporibus amet iste quis quae similique cupiditate, earum illum quas voluptatem facilis aspernatur! Cupiditate sunt dolorum, at est id deleniti sint itaque!
                        Quas dicta ratione, cumque officia voluptatem repudiandae consequatur ipsum at laboriosam quibusdam et officiis adipisci, modi amet nostrum expedita. Quis illo, mollitia culpa dolorum recusandae hic. Velit delectus expedita blanditiis.
                        Suscipit unde obcaecati, numquam sit autem, vitae rem est a beatae ipsa distinctio voluptates. Aliquam voluptatum nihil repellendus rem quisquam incidunt ullam, blanditiis debitis quo autem in, culpa saepe nobis.</p>
                    </div>
                </div>
                <app-comment-form></app-comment-form>
                <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-past-card></app-past-card>
            <app-past-card></app-past-card>
            <app-past-card></app-past-card>
        </div>
    </div>
</div>
